#size{
    font-size: 60px;
}
#padding{
    padding-top: 150px;
}
 #padding1{
    background-image: url(./Img/iamge.png);
    background-repeat: no-repeat;
     background-position: 50px 50px  ; 
     padding-top: 300px;
     padding-left: 400px; 
 }
 #color{
    background-color: #F9FBFE;

}
 #bg{
    padding-bottom: 150PX;
    background-image: url(./Img/Users.png);
    background-repeat: no-repeat;
 }
 #bg1{
    background-image: url(./Img/Rectangle\ 3981.png);
    background-repeat: no-repeat;
}
#color1{
    background-color: #112A47;
}
#padd{
    padding-left: 1000px;
}